body
{
    margin-left: 50px;
}

.box1 {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: black;
}

.box2 {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    position: relative;
    background-color: white;
    opacity: .75;
    -ms-transform: translate(20px, 20px); /* IE 9 */
    -webkit-transform: translate(20px, 20px); /* Safari */
    transform: translate(20px, 20px);
}

.box3 {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: black;
}

.box4 {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: white;
    opacity: .75;
    -ms-transform: rotate(120deg); /* IE 9 */
    -webkit-transform: rotate(120deg); /* Safari */
    transform: rotate(120deg);
}

.box5 {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: black;
}

.box6 {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: white;
    opacity: .75;
    -ms-transform: scale(.5, .5); /* IE 9 */
    -webkit-transform: scale(.5, .5); /* Safari */
    transform: scale(.5, .5);
}

.box7 {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: black;
}

.box8 {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: white;
    opacity: .75;
    -ms-transform: skewX(20deg); /* IE 9 */
    -webkit-transform: skewX(20deg); /* Safari */
    transform: skewX(20deg);
}

.box9 {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: black;
}

.box10 {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: white;
    opacity: .75;
    -ms-transform: skewY(20deg); /* IE 9 */
    -webkit-transform: skewY(20deg); /* Safari */
    transform: skewY(20deg);
}

.paragraph
{
    width: 500px;
    position:relative;
}

@font-face {
    font-family: candyShopPlain;
    src: url('../fonts/Candy Shop Personal Use.ttf')
}

@font-face
{
    font-family: candyShopBlack;
    src: url('../fonts/Candy Shop Black Personal Use.ttf')
}

@font-face
{
    font-family: candyShopContour;
    src: url('../fonts/Candy Shop Contour Personal Use.ttf')
}

p2
{
    font-family: candyShopPlain;
}

p3
{
    font-family: candyShopBlack;
}

p4
{
    font-family: candyShopContour;
}