@model FinalProject.Models.HomeViewModel

<html>

    <head>
        <link href="~/Styles/Home.css" rel="stylesheet" />
        <title>Final Project</title>
    </head>
    


    <body>
        <script src="~/Scripts/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/jquery-ui.min.js"></script>
        <script src="~/Scripts/Home.js"></script>
        
        <header>
            <img src="~/images/logo.png" alt="Tri-C Logo" height="120" />
        </header>


        <footer>
            <p>&copy; 2017 Nick Mosinski</p>
        </footer>

    </body>

</html>