@model FinalProject.Models.HomeViewModel

<html>

<head>
    <link href="~/Styles/Home.css" rel="stylesheet" />
    <title>IT 2320 - 12.15.2017 Final Project</title>
</head>



<body>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/Home.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <header>
        <img src="~/images/logo.png" alt="Tri-C Logo" height="120" />
    </header>
    <h1 id="formHeader" name="formHeader">Create Login</h1>
    <form id="createLoginForm" name="createLoginForm" method="post" align="center">
        <div id="userNameDiv">
            <label id="usernameLabel">Username: </label>
            <input id="Un" type="text" name="Uname" placeholder="must be at least 6 characters long" autocomplete="on" /><br />
        </div>
        <div id="passWordDiv">
            <lable id="passwordLabel">Password: </lable>
            <input id="Pw" type="text" name="Pword" placeholder="must be at least 6 characters long" autocomplete="on" /><br />
        </div>
        <div id="eMailDiv">
            <label id="emailLabel">Email: </label>
            <input class="email" id="Em" type="text" name="Email" placeholder="someone@mail.com" autocomplete="on" /><br />
        </div>
        <div id="confirmEmailDiv">
            <label>Confirm Email: </label>
            <input class="email" id="CEm" type="text" name="confirmEmail" placeholder="re-enter the email above" autocomplete="on" /><br /><br />
        </div>
        <input class="submitButton" id="submitButton" type="button" value="Submit" onclick="ValidateCreateLoginForm()" />
    </form>
    <footer>
        <p>&copy; 2017 Nick Mosinski</p>
    </footer>
</body>

</html>